* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  max-width: 960px;
  height: 100%;
  margin: 100px;
  padding: 10vh 0;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: flex-end;
  justify-items: center;
}
#main #timer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main #timer #remainTime {
  font-size: 14vmax;
  font-weight: 600;
  color: aliceblue;
}
#main #timer #player {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#main #timer #player button {
  background: none;
  border: none;
}
#main #timer #player button i {
  font-size: 4rem;
  color: aliceblue;
}
#main #targetBox {
  width: 80%;
  height: 50%;
  background-color: rgb(235, 185, 7);
  border: 1px solid white;
  border-radius: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
#main #targetBox #statusCheckBox {
  height: 70%;
  aspect-ratio: 1/1;
  background: rgb(40, 40, 40);
  border: none;
  border-radius: 50%;
}
#main #targetBox #statusCheckBox i {
  font-size: 5vmax;
  position: relative;
  top: -5px;
  color: rgb(235, 185, 7);
}
#main #targetBox #target {
  font-size: 6vmin;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

#list {
  width: 480px;
  height: 80%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#list #switchBt {
  background: none;
  border: none;
}
#list #switchBt i {
  font-size: 3rem;
  color: rgb(235, 185, 7);
}
#list #todoListPage {
  background-color: rgb(235, 185, 7);
  border-radius: 50px 20px 100px 20px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
#list #todoListPage h1 {
  font-size: 2rem;
  text-align: center;
  width: 85%;
  border-bottom: 1px solid black;
  padding: 28px;
}
#list #todoListPage #itemList {
  width: 85%;
}
#list #todoListPage #itemList .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#list #todoListPage #itemList .item .checkBt {
  background: none;
  border: none;
}
#list #todoListPage #itemList .item .checkBt i {
  font-size: 1.8rem;
  position: relative;
  top: -3px;
}
#list #todoListPage #itemList .item .itemBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  border-bottom: 1px solid black;
  padding: 10px;
}
#list #todoListPage #itemList .item .itemBox .text {
  font-size: 1.2rem;
}
#list #todoListPage #itemList .item .itemBox .textBts {
  display: flex;
  gap: 10px;
  height: 100%;
}
#list #todoListPage #itemList .item .itemBox .textBts button {
  background: none;
  border: none;
}
#list #todoListPage #itemList .item .itemBox .textBts button .bi-play-fill {
  font-size: 1.8rem;
}
#list #todoListPage #itemList .item .itemBox .textBts button .bi-trash-fill {
  font-size: 1.2rem;
  position: relative;
  top: 3px;
}
#list #todoListPage #itemList .item .addBt {
  background: none;
  border: none;
}
#list #todoListPage #itemList .item .addBt i {
  font-size: 1.2rem;
}
#list #todoListPage #addNewItem {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#list #todoListPage #addNewItem .addBt {
  background: none;
  border: none;
}
#list #todoListPage #addNewItem .addBt i {
  font-size: 1.8rem;
  color: aliceblue;
}
#list #todoListPage #addNewItem .itemBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  border-bottom: 1px solid white;
  padding: 10px;
}
#list #todoListPage #addNewItem .itemBox .text {
  font-size: 1rem;
  color: aliceblue;
}
#list #todoListPage #addNewItem .itemBox button {
  background: none;
  border: none;
}
#list #todoListPage #addNewItem .itemBox button i {
  font-size: 1.2rem;
  position: relative;
  top: 3px;
  color: aliceblue;
}

@media (max-width: 1200px) and (min-width: 600px) {
  #list {
    position: fixed;
    right: -360px;
  }
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
    justify-content: start;
    padding: 30px;
  }
  #main {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    flex-grow: 0;
  }
  #list {
    width: 90vw;
    position: fixed;
    bottom: -500px;
  }
}/*# sourceMappingURL=style.css.map */